{% extends 'base.html.twig' %}

{% block title %}Youtube video{% endblock %}

{% block body %}

    <h2>All video</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for youtube in youtubeList %}
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <a href="{{ path('app_video', {'id': youtube.id }) }}">
                        <img src="{{ youtube.url | youtube_thumbnail }}" class="card-img-top"
                             alt={{ youtube.name }}
                        >
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ youtube.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mb-5 mt-5" id="add_video">
        <h2>Add video</h2>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.url) }}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
