{% extends 'base.html.twig' %}

{% block title %}{{ youtube.name }}{% endblock %}

{% block body %}

    <h2>{{ youtube.name }}</h2>
    <div>{{ youtube.url | youtube_player | raw }}</div>

{% endblock %}
